
@{
    ViewData["Title"] = "Area";
}
<title>ZingSoft Demo</title>
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<style>
    .zc-body {
        background-color: #f3eeee;
    }

    .chart--container {
        height: 100%;
        width: 100%;
        min-height: 530px;
    }

    .zc-ref {
        display: none;
    }

    .acc .br {
        margin-top: 15px;
        margin-bottom: 15px;
        background-color: #82DBD6;
        display: block;
        width: 100%;
        height: 2px;
    }

    .custom-tooltip {
        padding: 10px;
        text-align: center;
        z-index: 1000;
    }

    .acc .custom-tooltip span {
        margin-top: 7px;
        display: block;
        font-size: 16px;
        text-align: center;
    }

        .acc .custom-tooltip span:nth-child(1) {
            font-size: 24px;
        }
</style>
<h2>Lead Quality Composition</h2>
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<div class="row">
    <div class="col-md-4">
        <br />
        <br />
        <br />
        <div class="table-responsive">
            <table class="table" border="1" id="ariachar">
                <tr>
                    <th>All</th>
                    <th>Month</th>
                    <th>Spam</th>
                    <th>Low</th>
                    <th>High</th>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="gdfr" checked="checked" />
                    </td>
                    <td>
                        Jan
                    </td>
                    <td>1.9</td>
                    <td>3.71</td>
                    <td>7.3</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="gdfr" checked="checked" />
                    </td>
                    <td>Feb</td>
                    <td>5</td>
                    <td>2.14</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="gdfr" checked="checked" />
                    </td>
                    <td>Mar</td>
                    <td>5.1</td>
                    <td>2.4</td>
                    <td>8.1</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="gdfr" checked="checked" />
                    </td>
                    <td>Apr</td>
                    <td>6</td>
                    <td>2</td>
                    <td>7.3</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="gdfr" checked="checked" />
                    </td>
                    <td>May</td>
                    <td>1</td>
                    <td>8</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="gdfr" checked="checked" />
                    </td>
                    <td>Jun</td>
                    <td>2</td>
                    <td>4</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="gdfr" checked="checked" />
                    </td>
                    <td>Jul</td>
                    <td>5</td>
                    <td>.87</td>
                    <td>3.11</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="gdfr" checked="checked" />
                    </td>
                    <td>Aug</td>
                    <td>5</td>
                    <td>2</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="gdfr" checked="checked" />
                    </td>
                    <td>Sep</td>
                    <td>3.16</td>
                    <td>2.14</td>
                    <td>2.68</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="gdfr" checked="checked" />
                    </td>
                    <td>Oct</td>
                    <td>1</td>
                    <td>3</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="gdfr" checked="checked" />
                    </td>
                    <td>Nov</td>
                    <td>3</td>
                    <td>2</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="gdfr" checked="checked" />
                    </td>
                    <td>Dec</td>
                    <td>0.98</td>
                    <td>1.7</td>
                    <td>2.4</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-8">
        <div class="acc">
            <div id="myChart" class="chart--container">
            </div>
        </div>
    </div>
</div>
<script>
    let Labels = [];
    let sapm = [];
    let low = [];
    let high = [];

    $(document).ready(function () {
        $(".gdfr").on("click", function () {
            Labels = []; sapm = []; low = []; high = [];
            var rows = $("#ariachar").find('tr');
            for (var i = 1; i < rows.length; i++) {
                var isdisplay = $(rows[i]).find('.gdfr').is(":checked");
                if (isdisplay) {
                    var col = $(rows[i]).find('td');
                    Labels.push(col[1].innerText);
                    sapm.push(col[2].innerText);
                    low.push(col[3].innerText);
                    high.push(col[4].innerText);
                }
            }
            jsonData.Labels = Labels;
            jsonData.sapm = sapm;
            jsonData.low = low;
            jsonData.high = high;
            dynamicgraph(jsonData);
        });
        var rows = $("#ariachar").find('tr');
        console.log(rows);
        for (var i = 1; i < rows.length; i++) {
            var isdisplay = $(rows[i]).find('.gdfr').is(":checked");
            if (isdisplay) {
                var col = $(rows[i]).find('td');

                Labels.push(col[1].innerText);
                sapm.push(col[2].innerText);
                low.push(col[3].innerText);
                high.push(col[4].innerText);
            }
        }
        dynamicgraph(jsonData);
    });
    let jsonData = {
        Labels: Labels,
        sapm: sapm,
        low: low,
        high: high,
    }

</script>



<script>
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"]; // CHART CONFIG

    function dynamicgraph(jsonData) {
        let chartConfig = {
            type: 'area',
            globals: {
                fontFamily: 'Roboto'
            },
            backgroundColor: 'none',
            title: {
                text: 'Lead Quality Composition',
                align: 'left'
            },
            legend: {
                adjustLayout: true,
                backgroundColor: '#FFF',
                borderRadius: '10px',
                borderWidth: '0px',
                item: {
                    cursor: 'pointer',
                    fontSize: '16px'
                },
                marker: {
                    type: 'square',
                    borderRadius: '5px',
                    cursor: 'pointer',
                    size: '8px'
                },
                toggleAction: 'remove'
            },
            plot: {
                activeArea: true,
                alphaArea: 1,
                animation: {
                    delay: 450,
                    effect: 'ANIMATION_SLIDE_LEFT',
                    sequence: 'ANIMATION_BY_PLOT',
                    speed: 580
                },
                hoverMarker: {
                    type: 'circle',
                    size: '10px',
                    visible: true
                },
                lineWidth: '0px',
                marker: {
                    borderWidth: '2px',
                    visible: false
                },
                stacked: true,
                stackType: '100%'
            },
            plotarea: {
                maskTolerance: [20, 20] // marker can now flow outside of plotarea
            },
            scaleX: {
                labels: jsonData.Labels,
            },
            scaleY: {
                values: '0:100:50',
                labels: ['0%', '50%', '100%']
            },
            tooltip: {
                text: '<div class="custom-tooltip"><span>%pper %</span> <span class="br"> </span> <span>Week Of %kt, 2018</span> <span> %t</span></div>',
                backgroundColor: '#373B5C',
                borderRadius: '5px',
                borderWidth: '0px',
                decimals: 2,
                htmlMode: true
            },
            series: [
                {
                    text: 'Spam Leads',
                    values: jsonData.sapm,
                    backgroundColor: '#AB7AC0',
                    legendItem: {
                        order: 4
                    },
                    marker: {
                        backgroundColor: '#AB7AC0'
                    }
                },
                {
                    text: 'Low Quality Leads',
                    values: jsonData.low,
                    backgroundColor: '#82DBD6',
                    legendItem: {
                        order: 3
                    },
                    marker: {
                        backgroundColor: '#82DBD6'
                    }
                },
                {
                    text: 'High Quality Leads',
                    values: jsonData.high,
                    backgroundColor: '#FD9C83',
                    marker: {
                        backgroundColor: '#FD9C83'
                    }
                }
            ]
        }
        zingchart.render({
            id: 'myChart',
            data: chartConfig,
            height: '100%',
            width: '100%',
        });
    }
</script>
