
@{
    ViewData["Title"] = "Pie";
}

<h2>Pie</h2>
<style>
    @@import 'https://fonts.googleapis.com/css?family=Open+Sans';

    .zc-body {
        background-color: #2B313B;
    }

    .chart--container {
        height: 100%;
        width: 100%;
        min-height: 530px;
    }

    .zc-ref {
        display: none;
    }
</style>


<div class="row">
    <div class="col-md-4">
        <br />
        <div class="table-responsive">
            <table class="table" border="1" id="ariachar">
                <tr>
                    <th>All</th>
                    <th>Browser</th>
                    <th>User</th>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="gdfr" checked="checked" />
                    </td>
                    <td>
                        Chrome
                    </td>
                    <td>50.6</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="gdfr" checked="checked" />
                    </td>
                    <td>Firefox</td>
                    <td>5.9</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="gdfr" checked="checked" />
                    </td>
                    <td>Safari</td>
                    <td>15.1</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="gdfr" checked="checked" />
                    </td>
                    <td>IE & Edge</td>
                    <td>6.2</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="gdfr" checked="checked" />
                    </td>
                    <td>UC Browser</td>
                    <td>1.4</td>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" class="gdfr" checked="checked" />
                    </td>
                    <td>Others</td>
                    <td>9.98</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-8">
        <div class="acc">
            <div id="myChart" class="chart--container">
            </div>
        </div>
    </div>
</div>

<script>
    var mySeries = [];

    $(document).ready(function () {
        $(".gdfr").on("click", function () {
            mySeries = []
            var rows = $("#ariachar").find('tr');
            for (var i = 1; i < rows.length; i++) {
                var isdisplay = $(rows[i]).find('.gdfr').is(":checked");
                if (isdisplay) {
                    var col = $(rows[i]).find('td');
                    mySeries.push({
                        "values": [parseInt(col[2].innerText)],
                        "text": [col[1].innerText]
                    })
                }
            }
            dynamicgraph(mySeries);
        });
        var rows = $("#ariachar").find('tr');
        for (var i = 1; i < rows.length; i++) {
            var isdisplay = $(rows[i]).find('.gdfr').is(":checked");
            if (isdisplay) {
                var col = $(rows[i]).find('td');
                mySeries.push({
                    "values": [parseInt(col[2].innerText)],
                    "text": [col[1].innerText]
                })
            }
        }
        dynamicgraph(mySeries);
    });

</script>
<script>
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "b55b025e438fa8a98e32482b5f768ff5"];

    function dynamicgraph(jsonData) {
        let chartConfig = {
            type: 'pie',
            backgroundColor: '#2B313B',
            title: {
                text: 'Global Browser Usage',
                align: 'left',
                fontColor: '#fff',
                fontFamily: 'Open Sans',
                fontSize: '25px',
                offsetX: '10px',
            },
            subtitle: {
                text: 'June 2019',
                align: 'left',
                fontColor: '#8e99a9',
                fontFamily: 'Open Sans',
                fontSize: '16px',
                offsetX: '10px',
                offsetY: '10px'
            },
            plot: {
                tooltip: {
                    text: '%npv%',
                    padding: '5 10',
                    fontFamily: 'Open Sans',
                    fontSize: '18px'
                },
                valueBox: {
                    text: '%t\n%npv%',
                    fontFamily: 'Open Sans',
                    placement: 'out'
                },
                animation: {
                    effect: 'ANIMATION_EXPAND_VERTICAL',
                    method: 'ANIMATION_REGULAR_EASE_OUT',
                    sequence: 'ANIMATION_BY_PLOT',
                    speed: 500
                },
                borderColor: '#2B313B',
                borderWidth: '5px'
            },
            plotarea: {
                margin: '20 0 0 0'
            },
            series: jsonData
        };
        zingchart.render({
            id: 'myChart',
            data: chartConfig,
            height: '100%',
            width: '100%',
        });
    }
</script>